<div class="summary container">
    <div class="sum-nav">
        <div class="sum-picture-box">
            <div class="picture-border"></div>
            <div class="picture"></div>
        </div>
        <!-- <div class="sum-spacer"></div> -->
        <div class="sum-title">
            <div class="white-title">
                Company X
            </div>
            <div class="subtitle">
                Subtitle Y
            </div>
        </div>
        <div class="sum-nav-btns">
            <div>Popular Models</div>
            <div class="sum-nav-btn">Cisco Systems</div>
            <div class="sum-nav-btn">Tesla Inc</div>
            <div class="sum-nav-btn">Tesla Inc</div>
        </div>
        <div class="sum-collapse-nav" onclick="sumCollapseNav();"></div>
    </div>
    <div class="sum-content">
        <div class="sum-search">
            <input class="sum-search-text" placeholder="Search" type="text"></input>
            <div class="sum-search-submit"></div>
        </div>
        <div class="sum-top-half">
            <div class="sum-description">
                <div class="sum-content-title" style="margin-left: 0px;">
                    Description
                </div>
                Apple Inc is designs, manufactures and markets mobile communication and media devices and personal computers, and sells a variety of related software, services, accessories, networking solutions and third-party digital content and applications.
            </div>
            
            <div class="sum-stats-box-outer">
                <div class="sum-stats-box">
                    <div class="sum-content-title">
                        Summary Statistics
                    </div>
                </div>
                <div class="pie-chart-box">
                    <!-- Resources -->
                    <script src="https://www.amcharts.com/lib/4/core.js"></script>
                    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
                    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
                    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
                    
                    
                    <div id="piechartdiv"></div>
                    <div id="piechartlegend"></div>
                </div>
            </div>

        </div>


        <div class="sum-content-title">
            Operating Performance
        </div>
        <div class="graph-box">
            <div id="chartdiv"></div>
        </div>
    </div>
</div>