* {
    margin: 0;
    /* transition: ease-in-out .25s; */
    /* transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1); */
    transition: .4s cubic-bezier(.95,.0,.05,1);
    animation-duration: .4s;
}
.load-screen {
    position: fixed;
    opacity: 1;

    /* blue */
    /* background-color: rgb(47, 68, 69); */

    /* gray */
    background-color: rgb(48, 46, 47);

    background-image: url(img/Logo_large.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    z-index: 1;
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    /* background-image: linear-gradient(120deg, rgb(243, 177, 179) , rgb(204, 146, 148)); */

    /* pink */
    background-image: url(img/bkg.jpg);

    /* yellow */
    /* background-color: rgba(195, 163, 83, 1); */
    
    /* filter: blur(5px); */
    backdrop-filter: blur(5px) brightness(80%) hue-rotate(45deg);
    /* backdrop-filter: blur(5px) brightness(80%); */
    background-size: cover;
    overflow: hidden;
}
.no-blur {
    backdrop-filter: none;
}
.ghost {
    /* border: solid red 1px; */
    /* z-index: 999 !important; */
    transform-origin: left;
    /* background: red; */
    /* background: white; */
}
.nav-btn, .ghost {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
    /* background-color: aliceblue; */
    z-index: 1;
    /* border: solid blue 1px; */
    overflow: visible;
    /* justify-content: center; */
}
.nav-btn:hover {
    border-radius: 10px;    
}

.btn, .full-screen-btn {
    opacity: 0;
    transition: .4s cubic-bezier(.95,.0,.05,1);
    border-radius: 0px;
    position: absolute;
    height: 25px;
    width: 100px;
    margin-left: 10px;
    margin-top: 15px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    line-break: strict;
    /* background: url("dash.png"); */
    background-size: cover;
    border-bottom: solid rgba(255,255,255,1) 1px;
    border-top: solid rgba(255,255,255,0) 0px;
    border-right: solid rgba(255,255,255,0) 0px;
    border-left: solid rgba(255,255,255,0) 0px;
    /* -webkit-box-shadow: 10px 10px 22px 0px rgba(255,255,255,0.44);
    -moz-box-shadow: 10px 10px 22px 0px rgba(255,255,255,0.44);
    box-shadow: 10px 10px 22px 0px rgba(255,255,255,0.44); */
    /* border-right: solid rgba(255,255,255,.25) 1px; */
    overflow: visible;
    /* color: transparent; */

}
.btn {
    /* transition: 0s; */
    /* opacity: 0; */
    pointer-events: none;
    display: flex;
    align-items: top;
    justify-content: center;
    border-radius: 0px;
    /* margin-top: 12.5px; */
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);

}
.btn img {
    height: 50px;
    width: 50px;
    filter: invert(1);
    opacity: 1;
}
.btn div, .full-screen-btn div {
    /* color: transparent; */
    /* transition: 0s; */
    padding-top: 55px;
    position: relative;
    /* border: solid yellow 1px; */
    pointer-events: none;
    white-space: nowrap;
}
.btn div:hover, .full-screen-btn div:hover {
}

.btn-1 {
    width: 64px;
    margin-left: 28px;
}
.btn-3 {
    width: 80px;
    margin-left: 20px;
}
.btn-4 {
    width: 110px;
    margin-left: 5px;
}
.btn-active {
    /* transition: .4s cubic-bezier(.95,.0,.05,1); */

    border-bottom: solid rgba(255,255,255,1) 1px;
    border-top: solid rgba(255,255,255,1) 1px;
    border-right: solid rgba(255,255,255,1) 1px;
    border-left: solid rgba(255,255,255,1) 1px;
    color: rgba(0,0,0,0);
    height: 20px;
    width: 20px;
    border-radius: 25px;
    margin-left: 50px;
    /* transform: scaleX(40%); */
    /* transition: 0s; */
    /* background-color: rgba(0,0,0,.2); */
    box-shadow: 2px 2px 10px 2px rgba(255,255,255,1);
    /* flex-grow: 2.5; */
}
.btn:hover img {
    opacity: 0;
}
.page-selector {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px 2px rgba(255,255,255,1);
    pointer-events: none;
    background-color: white;
    margin-top: calc(18px);
    margin-left: -5px;
    left: calc(-84px + 40px);
    /* transition: .2s cubic-bezier(.68,1.67,.88,.86); */

}
/*################################################################################################################################################################################################################################*/
/* Hamburger Menu */
.ham-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* border: 1px red solid; */
}
.hamburger {
    pointer-events: none;
    width: 26px;
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .4s;
}
.hamburger-clicked {

}
.hamburger:before,
.hamburger:after {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .4s;
}
.hamburger:before {
    top: -8px;
}
.hamburger:after {
    top: 8px;
}
.hamburger-active .hamburger{
    pointer-events: none;
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}
.hamburger-active .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
}
.hamburger-active .hamburger:after {
    top: 0;
    transform: rotate(-135deg);
}
/*################################################################################################################################################################################################################################*/





.flex-row {
    /* transform-origin: left; */
    /* transform: scaleX(5); */
    /* flex-direction: row; */
    /* height: 50px !important; */
    /* width: 400px; */
}
.all-pages-container {
    display: flex;
    will-change: transform;
    position: absolute;
    height: 100vh;
    width: 400vw;

    /* margin: 10vh 10vw; */
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
    border-radius: 5px;
    transform: translateX(0vw);
    /* transition: .65s cubic-bezier(0, 1, 0.17, 1); */
}
/* .show-menu {
    transform: scale(.8);
} */
.active {
    animation: 0s active both;
    /* transition: none; */
    /* opacity: 1 !important; */
}

/* ####################################################################### */
                        /* SUMMARY PAGE (DASHBOARD) */
/* ####################################################################### */
.summary * {
    /* border: solid white 1px; */
}
.summary {
    /* border: solid green 1px; */
    overflow: scroll;
    opacity: 0;
    background-color: rgb(21, 27, 44);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex !important;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    width: 100vw;
    justify-content: space-between;
    min-width: 0;
    /* flex-flow: row nowrap; */
    
}
.sum-nav {
    /* border: solid white 1px; */
    position: relative;
    /* margin-top: 0; */
    /* display: flex; */
    margin: 0;
    width: 20vw;
    min-width: 175px;
    max-width: 220px;
    height: 100vh;
    background: rgb(33, 41, 62);
    /* transform: translateX(-100%); */
}
.sum-picture-box {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.picture {
    background-color: #FFF;
    background-image: url(img/Tesla.png);
    background-size: 80% 80%;
    background-position: 15px 20px;
    background-repeat: no-repeat;
    border-radius: 75px;
    width: 142px;
    height: 142px;
    /* margin-left: 79px; */
    
    position: absolute;
    
}
.picture-border {
    border-radius: 75px;
    width: 150px;
    height: 150px;
    /* margin-left: 75px; */
    
    position: absolute;
    background-image: linear-gradient(180deg, rgb(96, 194, 245), rgb(60, 115, 233));
}
.sum-spacer {
    /* border: solid white 1px; */
    width: 100%;
    height: 300px;
}
.sum-title {
    /* border: solid white 1px; */
    position: relative;
    width: 100%;
    /* height: 300px; */
    /* margin-top: 300px; */
    text-align: center;
    padding: 45px;
    padding-left: 0;
    padding-right: 0;
}
.white-title {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    line-height: 45px;
    /* padding-top: 45px; */
}
.subtitle {
    color: rgb(124, 128, 139);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.sum-nav-btns {
    /* border: solid white 1px; */
    padding-top: 30px;
    width: 100%;
    /* height: 600px; */
    color: rgb(124, 128, 139);
}
.sum-nav-btns div {
    padding-left: 10px;
    font-weight: 200;
}
.sum-nav-btn {
    /* border: solid white 1px; */
    /* width: 100%; */
    /* height: 800px; */
    color: #FFF;
    background-image: url(img/arrow.png);
    background-size: 2.5% 30%;
    background-repeat: no-repeat;
    background-position: 90%;
    line-height: 100%;
    padding: 15px;
    padding-left: 10%;
    transition: .05s;
}
.sum-nav-btn:hover {
    text-shadow: 2px 2px 8px #FFF;
    background-size: 3% 35%;
    /* box-shadow: 2px 2px 8px #FFF; */
    -webkit-filter: drop-shadow(2px 2px 8px #FFF);
    filter: drop-shadow(2px 2px 8px #FFF);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.sum-collapse-nav {
    position: absolute;
    height: 70px;
    width: 16px;
    top: 50%;
    right: 0;
    background-color: rgb(60, 115, 233);
    /* background-image: linear-gradient(180deg, rgb(96, 194, 245), rgb(60, 115, 233)); */
    background-image: url(img/arrow.png);
    /* background-image: url(arrow.png), linear-gradient(180deg, rgb(96, 194, 245), rgb(60, 115, 233)); */
    background-size: 80% 40%;
    background-position: 75% 50%;
    
    background-repeat: no-repeat;
    
    /* border: solid rgb(22, 27, 43) 1px; */
    transform: translate(50%, -50%) rotate(180deg);
    border-radius: 15px;
    z-index: 999 !important;
}
.sum-collapse-nav:hover {
    background-color: rgb(96, 194, 245);
    /* transition: 0s; */

    /* -webkit-filter: drop-shadow(2px 2px 8px #FFF);
    filter: drop-shadow(2px 2px 8px #FFF);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')"; */
}
.sum-collapse-nav-collapsed {
    transform: translate(100%, -50%);
    transform-origin: 50% 50%;
}
      /* RIGHT SIDE */
/* ####################################################################### */
.sum-content {
    /* border: solid wheat 1px; */
    /* flex-flow:row wrap; */
    overflow: visible;
    /* position: absolute; */
    /* width: calc(100vw - 300px - 50px); */
    width: 80vw;
    min-width: calc(100vw - 220px);
    max-width: calc(100vw - 175px);
    height: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
    /* background-color: #ccc; */
    /* display: inline; */
    /* top: 0; */
    /* left: 0; */
    /* padding: 25px; */
    /* padding-bottom: 0; */
    /* margin-left: 175px; */
}
.sum-full {
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
}
.sum-search {
    /* border: solid rgb(77, 121, 227) 0px; */
    position: relative;
    width: 220px;
    display: flex;
    margin: 25px;
    border-radius: 25px;
    /* padding: 10px; */
    /* padding-right: 115px; */
    /* width: calc(200px - 15px); */
    /* height: 45px; */
    line-height: 45px;
    background-color: rgb(36, 42, 62);
    padding: 3px;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
    transition: .4s .2s cubic-bezier(.95,.0,.05,1);
    /* transform: translate(0); */
}
.sum-search-fs {
    transition: .4s .2s cubic-bezier(.95,.0,.05,1);
    transform: translateX(65px);
}
.sum-search-text {
    /* flex: 4 1 auto; */
    width: 175px;
    position: relative;
    font-size: 11pt;
    background-color: transparent;
    border: none;
    color: #FFF;
}
.sum-search-text:focus {
    outline: none;
    
}
.sum-search-submit {
    position: relative;
    
    /* position: absolute; */
    /* margin: calc(25px + (45px - 40px) / 2); */
    /* margin-left: calc(25px + 200px - 40px); */
    background-color: rgb(77, 121, 227);
    background-image: url(img/arrow.png);
    background-size: 15% 32%;
    background-repeat: no-repeat;
    background-position: 52.5% 50%;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}
.sum-search-submit:hover {
    background-color: rgb(96, 194, 245);
}
.sum-top-half {
    /* border: solid red 1px; */
    width: 100%;
    height: calc(50% - 46px - 25px - 25px);
    overflow: visible;
    overflow-y: hidden;
}
.sum-content-title {
    /* margin-top: 55px; */
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14pt;
    margin-left: 25px;
    /* line-height: 45px; */
}
.sum-description {
    /* border: solid rgb(77, 121, 227) 1px; */
    box-sizing: border-box;
    padding: 25px;
    color: white;
    height: 30%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: normal;
    font-size: calc(.7vw + .6vh);
}
.sum-stats-box-outer {
    /* border: solid rgb(77, 121, 227) 1px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 600px;
    height: 70%;
}

.sum-stats-box {
    /* border: solid red 1px; */
    /* flex-basis: 500px; */
    /* flex: 50%; */
    width: calc(70%);
    height: 10%;
    margin: 0;
}
.pie-chart-box {
    /* border: solid wheat 1px; */
    /* border: solid red 10px; */
    /* background-color: rgb(234, 51, 35); */
    /* flex-basis: 50%; */
    height: 100%;
    width: 30%;
    min-width: 350px;
    /* width: 20px; */
    /* overflow: hidden; */
    /* margin-right: 0; */
    /* order: 2; */
    /* margin-left: calc(50%); */
}
.pie-chart-box * {
    overflow: visible;
}
#piechartdiv {
    /* border: 1px solid #eee; */
    width: 80%;
    height: 100%;
    font-size: 11px;
    float: left;
}
#piechartdiv * {
    transition: 0s;
}

#piechartlegend {
    /* border: 1px solid #eee; */
    position: relative;
    /* width: 112px; */
    min-width: 100px;
    height: 100%;
    /* margin-left: calc(100% - 112px); */
    /* float: left; */
}

#piechartlegend .legend-item {
    margin: 2px;
    margin-left: 10px;
    font-size: .5em;
    font-weight: bold;
    cursor: pointer;
}

#piechartlegend .legend-item .legend-value {
    font-size: .3em;
    font-weight: normal;
    margin-left: 22px;
}

#piechartlegend .legend-item .legend-marker {
    /* border: 1px solid #ccc; */
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
}

#piechartlegend .legend-item.disabled .legend-marker {
    opacity: 0.5;
    background: #ddd;
}
.graph-box {
    /* border: solid white 1px; */
    /* background-color: green; */
    /* border: solid wheat 1px; */
    position: absolute;
    bottom: 0;
    /* overflow: hidden; */
    /* margin-top: 85px; */
    /* height: calc(100vh - (45px * 3) - 300px - 55px - 25px - 94px); */
    height: 50%;
    width: 100%;
    /* min-width: calc(100% - 220px); */
    /* max-width: calc(100% - 175px); */
    /* margin: -25px; */
    /* margin-top: 0; */
    /* margin-bottom: 0; */
    /* pointer-events: all; */
    overflow: hidden;
}
.graph-box * {
    /* border: solid white 1px; */
    transition: 0s;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
#chartdiv * {
    transition: 0s;
    color: white;
    pointer-events: all;
}
#chartdiv {
    transform: translateY(20px);
    /* border: solid white 1px; */
    width: 100%;
    height: 100%;
    color: white;
    pointer-events: all;
}



/* ####################################################################### 
                        Financial Statements Container
   ####################################################################### */

.fs {
    overflow: scroll;
    opacity: 1;
    background-color: rgb(21, 27, 44);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex !important;
    width: 100vw;
    justify-content: space-between;
    min-width: 0;
}
.fs * {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
}
.logo-box {
    display: flex;
    height: 50px;
    margin-left: 50px;
    width: calc(100% - 50px);
}
.logo {
    display: inline;
    width: 90%;
    align-self: center;
    line-height: 50px;

}
.fs-nav {
    position: relative;
    margin: 0;
    width: 20vw;
    min-width: 175px;
    max-width: 220px;
    height: 100vh;
    /* background: rgb(43, 101, 113); */
    /* background: rgb(45, 68, 68); */

    /*blue*/
    /* background-color: rgb(26, 67, 69);  */
    
    /*grey*/
    background-color: rgb(48, 46, 47); 
}
.fs-collapse-nav {
    position: absolute;
    height: 35px;
    width: 20px;
    bottom: 0;
    right: 0;
    margin: 15px;
    margin-top: -15px;

    background-color: transparent;

    /* yellow */
    /* background-color: rgb(152, 131, 76); */

    /* beige */
    /* background-color: rgb(156, 143, 123); */

    /* pink */
    /* background-color: rgb(202, 136, 148); */

    background-image: url(img/arrow.png);
    background-size: 80% 80%;
    background-position: 75% 50%;
    background-repeat: no-repeat;    
    transform: rotate(180deg);
    /* border-radius: 15px; */
    z-index: 999 !important;
    outline: solid rgba(255,255,255,0) 0px;
}
.fs-collapse-nav-collapsed {
    transform: translate(calc(100% + 30px));
    /* transform-origin: 50% 50%; */
    
    filter: invert(.8);
}
.fs-collapse-nav:hover {
    outline: solid rgba(255,255,255,1) 1px;
    /* background-color: rgb(96, 194, 245); */
}
.fs-nav-item {
    box-sizing: border-box;
    margin: 2.5%;
    width: 95%;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    color: rgb(252, 253, 253);
}
.fs-nav .first {
    margin-top: 10px;
    /* border-radius: 6px; */
    /* background: rgb(33, 79, 91); */

}
.fs-nav .selected {
    /* background: rgb(33, 79, 91); */
    background: rgb(31, 29, 30);
    border-radius: 6px;

}

.fs-content {
    overflow: visible;
    width: 80vw;
    min-width: calc(100vw - 220px);
    max-width: calc(100vw - 175px);
    height: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
    background-color: rgb(242, 245, 249);
}
.fs-content .top {
    position: relative;
    width: 100%;
    height: 145px;
    margin: 0;
    top: 0;
    background: white;
    border-bottom: solid rgb(233, 234, 238) 1px;
    /* box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.22); */
}
.fs-content .top-info {
    /* border: solid green 1px; */
    position: absolute;
    display: flex;
    height: 104px;
    width: 100%;
    top: calc(100% - 104px);
}
.fs-content .company-pic {
    height: 65%;
    width: 67.6px;
    border-radius: 45px;
    background-image: url(img/Tesla.png);
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    border: solid gray 1px;
    align-self: center;
    margin-left: 25px;
}
.fs-content .company-highlights-box {
    display: flex;
    margin-left: 25px;
    justify-content: center;
    /* border: solid red 1px; */
    flex-direction: column;
}
.fs-content .company-name {
    font-weight: bold;
    height: 25px;
    font-size: 16pt;
    /* border: solid black 1px; */
    line-height: 15px;
}
.company-stats-box {
    display: flex;
    height: 25px;
    /* border: solid goldenrod 1px; */
}
.company-stats-box * {
    /* border: solid yellow 1px; */
}
.fs-content .company-stat {
    margin-left: 5px;
    align-self: center;
    font-size: 10pt;
    color: rgb(133, 140, 153);
    font-weight: bolder;
}
.fs-content .company-stat:nth-child(3) {
    margin-left: 25px;
}
.fs-search-box {
    display: flex;
    margin: 25px;
    margin-top: 10px;
    position: absolute;
    /* border: solid red 1px; */
    align-content: center;
}
.search-icon {
    filter: invert(.8);
    height: 16px;
    flex-basis: 30px;
    align-self: center;
}
.fs-search-text {
    width: 175px;
    position: relative;
    font-size: 11pt;
    /* background-color: gray; */
    border: none;
    color: rgb(54, 54, 54);
}
.fs-search-text:focus {
    outline: none;
}

.variable-content {

}

.fs-table-title {
    font-size: 20pt;
    margin: 25px;
    margin-bottom: 0;
}
.fs-table-outer {
    box-sizing: border-box;
    /* padding: 25px; */
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 25px;
    margin-top: 5px;
    /* transform: translate(); */
    width: calc(100% - 50px);
}
/* .fs-content table, table * {
    border: solid 1px gold;
} */
.fs-content table {
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 0;
    border-radius: 10px;
    border: solid rgb(232, 234, 238) 1px;
}
table th:first-child {
    border-radius: 10px 0 0 0;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.fs-content table th {
    background-color: rgb(252, 253, 254);
    border-bottom: solid rgb(232, 234, 238) 1px;
}
.fs-content table td {
    /* background-color: rgb(252, 253, 254); */
    border-bottom: solid rgb(232, 234, 238) 1px;
}
table tr:last-child td {
    border-bottom: 0px;
}
.fs-content table tr {
    border-bottom: solid rgb(232, 234, 238) 1px;
}
.fs-content table tr:last-child { 
    border-bottom: none; 
}
.fs-full {
    width: 100vw;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    z-index: -1;
}

/* ####################################################################### */




/* .fs {
    display: flex;
    opacity: 0;
} */
.fs .statement {
    flex-grow: 1;
    text-align: center;
    max-width: 100vw;
    /* border: solid white 1px; */
    /* background: rgb(51,49,50); */
    /* background: red; */
}
.fs .statement * {
    pointer-events: none;
    /* display: block; */
}
/* .fs .active {
    max-width: 100vw;
} */
.is {
    background: rgb(85, 83, 84);
}
.bs {
    background: rgb(71, 64, 68);
}
.cfs {
    background: rgb(43, 41, 42);
}
.statement .inner {
    /* border: solid white 1px; */
    width: 90%;
    height: 90%;
    margin: 5%;
    /* margin-left: 25%;
    margin-top: 80%; */
    background-image: url(img/bkg.jpg);
    /* top: 25%; */
}




.hidden {
    /* display: none; */
    opacity: 0;
    /* width: 0px;
    height: 0px; */
}

.account {
    opacity: 1;
    background-color: rgb(48, 46, 47);
}
.abt {
    overflow: scroll;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 16pt;
}
.abt-header {
    opacity: 1;
    /* blue */
    /* background-color: rgb(47, 68, 69); */

    /* gray */
    background-color: rgb(48, 46, 47);
    background-image: url(img/Logo_large.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.abt-body {
    display: flex;
    align-content: center;
    justify-content: center;

    /* yellow */
    /* background: rgb(189, 163, 95); */

    /* beige */
    background-color: rgb(156, 143, 123);

    /* pink */
    /* background: rgb(165, 121, 129); */

    padding: 100px;
    padding-top: 200px;
    padding-bottom: 200px;
}
.abt-body:nth-child(3), .abt-body:nth-child(5) {
    /* gray */
    background-color: rgb(48, 46, 47);
}





.dev {
    /* border: solid green 5px; */
    opacity: 1;
    /* background: white; */
    background-color: rgb(60, 58, 59);
    /* overflow: scroll; */
    overflow: scroll;
    display: flex !important;
    /* flex-direction: row; */
    align-items: stretch;
    /* align-content: stretch; */
    
}
.dev * {
    transition: all ease-in-out 1s;
}
.icon {
    width: 35px;
    height: 35px;
    background-color: rgb(54,54,54);
    border-radius: 10px;
    /* border: solid white 1px; */
    /* filter: invert(.7); */
}
.socials-box, .education-box {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 bold;
    font-size: 14pt;
    /* line-height: 44px; */
    line-height: 8px;
    padding-left: 30px;
    padding-top: 18px;
    text-align: left;
    margin-left: calc(50% - 350px / 2);
}
.education-box {
    line-height: 20px;
}
.italics {
    font-style: italic;
    line-height: normal;
}
.bio-header {
    font-size: 15pt;
    /* font-weight: bold; */
}
.socials-box div {
    line-height: normal;
}
.icon-link {
    display: flex;
    /* border: solid gray 1px; */
    align-items: center;
    padding: 0px;
    /* line-height: 0px; */
    /* word-spacing: 30px; */
}
.icon-link a {
    padding-left: 12px;
    /* color: rgb(83, 83, 79); */
    color: white;
    text-decoration: none;

}
.photo {
    position: absolute;
    top: 45px;
    width: 400px;
    height: 400px;
    /* background-image: linear-gradient(180deg,rgb(219, 225, 228), rgb(236, 236, 241)); */
    background-color: rgb(207,196,194);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.44);
    margin-left: calc(50% - 200px);
    /* border: solid white 1px; */
    border: solid rgb(189,129,131) 1px;
    overflow: visible;
}
#canvas1 {
    position: absolute;
    top: 2px !important;
    left: 0;
    overflow: visible;
    height: 100%;
    width: 100%;
}
.bio {
    /* color: rgb(83, 83, 79); */
    /* color: rgb(189,129,131); */
    color: white;
    font-size: 32pt;
    line-height: 56px;
    /* font-weight: bold; */
    /* width: 75%; */
    width: 600px;
    margin-left: calc(50% - 300px);
    position: absolute;
    text-align: center;
    top: 465px;
    font-family: "돋움", "Dotum", sans-serif;
    /* overflow: scroll; */
    overflow: hidden;

}
.white-box {
    /* display: flex; */
    /* border: solid blue 1px; */
    overflow: initial;
    /* overflow-y: visible; */
    /* overflow-x: hidden; */
    background-color: rgb(60, 58, 59);
    /* border: solid red 1px; */
    /* position: relative; */
    width: 490px;
    min-width: 471px;
    height: 1600px;
    /* min-height: 100%; */
    text-align: center;
    margin-left: calc(50% - 490px / 2);
    transition: all ease-in-out 1s;
    /* flex: 1; */
    /* align-self: stretch; */
}
.gray-box {
    /* display: flex; */
    /* flex: 1; */
    align-self: stretch;
    /* border: solid red 1px; */
    /* overflow: auto; */
    /* align-self: stretch; */
    /* display: table-cell; */
    /* position: relative; */
    /* float: right; */
    /* width: 0px; */
    /* right: 0px; */
    /* min-height: 100%; */
    height: 1600px;
    min-width: 360px;
    /* line-height: 1.75em; */
    background-color: rgb(48, 46, 47);
    /* ORIGINAL COLOR */
    /* background-color: rgb(219, 225, 228); */ 
    transition: ease-in-out 1s;
    -webkit-box-shadow: inset 63px 2px 77px -96px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 63px 2px 77px -96px rgba(0,0,0,0.75);
    box-shadow: inset 63px 2px 77px -96px rgba(0,0,0,0.75);
    
}
.gray-box div * {
    transition: all ease-in-out 0s;
}
.gray-box div {
    /* padding: 10%; */
    margin: 10%;
    /* height: 80%; */
    width: 80%;
    /* width: auto; */
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    font-size: calc(12px + .5vw);
    opacity: 0;
    /* color: rgb(83, 83, 79); */
    color: white;
    /* border: solid red 1px; */
}
.gray-box-main {
    height: 80%;
}
.spacer-1 {
    min-height: 4px;
    margin: 0 !important;
}
.spacer-2 {
    min-height: 24px;
    margin: 0 !important;
}
.gray-box div .heading {
    color: white;
    text-shadow: 2px 2px 8px #FFF;
    line-height: 60px;
    font-size: 2em;
}
.gray-box .bio-header {
    font-size: 1.2em;
}
.dev-title {
    text-align: center;
    width: 330px;
    height: 70px;
    margin-left: calc(50% - 330px / 2);
    font-size: 13pt;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 13px;
    border-bottom: solid rgb(83, 83, 79) 4px;
    /* border: solid red 1px; */
}
.resume {
    border: solid white 1px;
    font-size: 12pt;
    padding: 0;
    margin-left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    height: 35px;
    line-height: 35px;
    width: 200px;
    color: white;
    border-radius: 15px;
}
.resume a:hover {
    font-weight: bold;
}
.resume a:link,
.resume a:visited,
.resume a:active {
    color: white;
    text-decoration: none;
}

.full-screen-icon {
    z-index: 999;
    position: absolute;
    /* border: solid red 3px; */
    /* border: white 30px; */
    height: 15px;
    width: 15px;
    top: 10px;
    right: 10px;
}
.full-screen-icon:hover {
    height: 20px;
    width: 20px;
}
/* .full-screen {

    transform: scale(1.25);

    margin: 0 !important;
    border-radius: 0 !important;
} */


.fs-icon {
    margin: 25%;
    width: 50%;
    max-width: 100px;

}
.button-tray {
    background: rgba(255,255,255,.1);
    position: absolute;
    overflow: hidden;
    display: flex;
    height: 5vh;
    top: 2.5vh;
    left: 10vw;
    width: 80vw;
    border: solid rgba(255,255,255,.25) 1px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.44);
}

.container, .transition {
    transform: scale(.8);
    display: block;
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
    width: 100vw;
    /* margin: 10vh 10vw; */
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
    /* border-radius: 5px; */
    /* pointer-events: none; */
    /* transition: none; */
    transition: .65s cubic-bezier(0, 1, 0.17, 1);

}
.transition {
    transition: .2s cubic-bezier(.95,.0,.05,1);
    background-color: rgb(51,49,50);
    /* width: 0; */
    transform-origin: left;
    /* background-color: rgba(0,0,0,.4); */
    pointer-events: none;
    width: 100vw;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    left: 0;
    /* transform: translateX(-8vw); */
    transform: scaleX(0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.transition-outer {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgba(34,78,99,0);
    /* border: solid wheat 1px; */
    pointer-events: none;
}
.scale {
    /* transform: scale(1.25); */
    /* animation: expand forwards .4s cubic-bezier(0.6, 0.04, 0.98, 0.335); */
    /* transform: scale(1); */
    transform: scale(1);
}
.scale-reverse {
    /* transform: scale(1.25); */
    transform: scale(1);
    /* animation: expand reverse forwards .4s cubic-bezier(0.6, 0.04, 0.98, 0.335); */
}
.slide-in {
    animation: slidein forwards .4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.peak-in {
    /* animation: .25s cubic-bezier(0.6, 0.04, 0.98, 0.335) forwards peakin; */
    /* transform: translateX(0); */
    transform: scaleX(.1);
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.44);
}

.nav-1 {
    position: relative;
    background-color: rgb(212, 182, 197);
    height: 100%;
    width: 65px;
}

@media (min-width: 00px) { /* when the width is less than 30em, make both of the widths 100% */
    .photo {
        margin-left: 45px;

    }
    .bio {
        margin-left: -45px;
    }
    .gray-box {
        width: calc(100% - 490px);
    }
    .gray-box div {
        opacity: 1;
    }
    .white-box {
        margin-left: 0;
    }
  }

  @keyframes expand {
    from {
        animation-timing-function: cubic-bezier(.95,.0,.05,1);
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}
@keyframes peakin {
    from {
        transform: translateX(-8vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slidein {
    0% {
        /* start at 20% in the frame docked on the left*/
        /* should be 80% height and 20% width */

        animation-timing-function: cubic-bezier(.95,.0,1,.95);
        /* transform: translateX(0vw); */
        transform: scaleX(.1);
    }
    
    50% {
        /* should be fully covering page */
        /* should be 90% height (don't declare this?) */
        animation-timing-function: cubic-bezier(0,.05,.05,1.00);
        transform: scaleY(1.125) scaleX(1);
        /* background: red; */
    }
    100% {
        /* should be 100% to the right of page, and back down to 20% */
        /* should be 100% height and width */
        transform: scaleY(1.25) translate(100vw);
        /* background: blue; */
    }
}

@keyframes active {
    from {
        opacity: 100%;
        pointer-events: none;
    }
    /* 49.9% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
        pointer-events: all;
    } */
    to {
        opacity: 100%;
        pointer-events: all; 
    }
}